<nav class="navbar">
  <img src="images/Thread-Aura-Logo.png" alt="Logo" class="logo" />

  <div class="nav-right">
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Men</a></li>
      <li><a href="#">Women</a></li>
      <li><a href="#">Kids</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <i class="icon fas fa-shopping-cart"></i>
    <i class="icon fas fa-heart"></i>
    <button class="login-btn">Login</button>
  </div>
</nav>
