<section class="shop-now">
  <div>
    <a href="men.html">
      <img src="images/hero/bhai-1.png" alt="Men clothing Shop Image">
      <button class="shop-btn">Shop Now</button>
    </a>
  </div>
  <div>
    <a href="women.html">
      <img src="images/women/behen.png" alt="Women clothing Shop Image">
      <button class="shop-btn">Shop Now</button>
    </a>
  </div>
  <div>
    <a href="kids.html">
      <img src="images/kids/chunnumunnu.png" alt="Kids clothing Shop Image">
      <button class="shop-btn">Shop Now</button>
    </a>
  </div>
</section>